
.content {
    display: flex;                 
    justify-content: center;       
    align-items: flex-start;       
    gap: 40px;                     
    margin-top: 50px;
}


.img {
    width: 300px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    height: 106px;
  margin: -28px;
}

p{
    max-width: 400px;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    
}