.header {
    background-color: #0f52e3;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

.logo{
    font-size: 29px;
    font-weight: bold;
    margin-right: auto;
}



.home{
    margin: 0 15px;
    cursor: pointer;
}

